#gc_load{width:100%;display:block;margin:2em auto;text-align:center}
#gci_tabs .bmpTxt{font-size:1.0625em;}
#ex_cust .ui-selecting { background: #FECA40; }
#ex_cust .ui-selected { background: #F39814; color: white; }
#ex_cust { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#ex_cust li { margin: 3px; padding: 0.4em; font-size: 1.125em; height: 18px; }
#ex_cust .fa-times-circle {float:right;cursor:pointer;margin-top:2px}
#ex_cust .button-primary {padding-left:5px}
#gci_dir .button-primary i, #gci_dir .button-secondary i {margin-right:.25em}
.fa-info-circle{color:green;margin-right:.125em}
.fa-question-circle{color:#E67E00;margin-right:.125em}
#no_ex_dirs{display:none}
#ex_dir{width:300px}
#gci_tabs .result{display:none;color:forestgreen;font-weight:600}
#gci_tabs textarea{background:cyan;width:100%;}
#gci_tabs .purge{margin:-.5em 0 0 .5em}
